
/* * {
    outline: orange dashed 1px;
} */

body{
    width: 1024px;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;


}


header {
    width: 1024px;
    margin: 0 auto;

}

nav {
    padding-bottom: 25px;
    background-color: #3d3c3c;
    text-decoration: none;
    height: 50px;
}

nav div{
    display: inline-block;
    text-decoration: none;

}

nav ul {
    float: left;
    margin-bottom: 10px;
    text-decoration: none;
    padding-top: 24px;
    padding-left: 12px;
}

nav li {
    display: inline-block;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    color: sandybrown;
    font-size: 12px;
    padding: 5px;

}

header section{
    padding: 10px 0 25px;
}
header .banner{
    font-size: 16px;
    width: 1024px;
    display: inline-block;
    text-align: center;
    background-color: lightskyblue


}

#title{
    padding: 24px;
    font-size: 32px;
    margin: 0 auto;

}



header .banner p2{
    font-size: 16px;
}

/* Main section */


#progressBar{
    height: 40px;
    width: 800px;
    margin: 0 auto;
    display: inline-block;
    background-color: lightskyblue

}


/* Body rendering graphics */

main{
    background-color: lightskyblue
}

main .wrapper{
   padding-top: 30px;
    width: 1004px;
    margin-right: 0px;
    background-color: lightskyblue;
    padding-left: 20px;

}

#sandman{
    width: 67%;
    height: 500px;
    display: inline-block;
    border: 1px dashed black;
}

main .scoreColumn{
    float: right;
    padding-right: 50px;
    text-align: center;

}
#highScore{

    text-align: center;

    font-size: 20px;
    color: sandybrown;
    background-color: #3d3c3c;
    height: 50px;
    padding-top: 10px;

}
main .table{
    width: 100%;
    display: inline-block;
    text-align: center;

}

th, td{
    padding: 5px;
    color: sandybrown;
    background-color: #3d3c3c;
}

tr.user :nth-child(2){
    text-align: left;
}

tr.user :nth-child(3){
    text-align: left;
}









/* Game interaction section */

main .interaction{
    width: 1024px;;
    display: block;
}

main .wordDisplay{
    height: 50%;
    display: block;

}
main .wordDisplay{
    height: 50%;
    display: block;

}



/* about us */
.column {
    display: inline-block;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
    margin-top: 100px;
    height: 80%;

}

.row {
    background-color: lightskyblue;
    height: 800px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card img{
    width: 100%;
    height: 240px;
}
.container{
    padding:20px 16px;
    background-color: white;
    height: 400px;
}

.container h2{
    font-size: 20px;
    padding-bottom: 5px;
}

.container p{
    font-size: 12px;
    padding-bottom: 2px;
}

.container :nth-child(3){
    padding-top: 6px;
}
.container :nth-child(4){
    padding-top: 22px;
}


.title{
    color: grey;
}

#blank-words {
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#blank-words p {
  display: inline-block;
  font-size: 50px;
  padding-right: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}

#blank-words ul li {
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#keyboard ul li {
  display: inline-block;
  font-size: 25px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
  width: 45px;
}
