
body{
    width: 1024px;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
    /* zahra add */
    position: relative;


}
header {
    width: 1024px;
    margin: 0 auto;
}
nav {
    padding-bottom: 25px;
    background-color: #3d3c3c;
    text-decoration: none;
    height: 50px;
}
nav div{
    display: inline-block;
    text-decoration: none;
}
nav ul {
    /* float: left; */
    margin-bottom: 10px;
    text-decoration: none;
    padding-top: 24px;
    padding-left: 12px;
}
nav li {
    display: inline-block;
    text-decoration: none;
    margin-right: 90px;
    
}
nav ul li a{
    text-decoration: none;
    color: sandybrown;
    font-size: 20px;
    padding: 5px;
}
header section{
    padding: 10px 0 25px;
}
header .banner{
    font-size: 16px;
    width: 1024px;
    display: inline-block;
    text-align: center;
    background-color: lightskyblue
}
#title{
    padding: 24px;
    font-size: 32px;
    margin: 0 auto;
}
header .banner p2{
    font-size: 16px;
}
/* Main section */
#progressBar{
    height: 20px;
    width: 500px;
    margin: 0 auto;
    display: inline-block;
    background-color: lightskyblue
}
/* Body rendering graphics */
main{
    background-color: lightskyblue
}
main .wrapper{
    padding-top: 30px;
    width: 1004px;
    margin-right: 0px;
    background-color: lightskyblue;
    padding-left: 20px;
}
#canvasContainer{
    position:relative;
    display: inline-block;
    height:500px;
    width: 67%;
    z-index:0;
}
#sandman{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
#sandlayer{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}
#sandstorm{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
}
#hourglass{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 4;
}
main .scoreColumn{
    float: right;
    padding: 5px;
    margin-right: 15px;
    text-align: center;
    background-color: #3d3c3c;
    width: 290px;
    overflow-x: auto;
}
#highScore{
    text-align: center;
    font-size: 20px;
    color: sandybrown;
    height: 50px;
    padding-top: 10px;
}
main .table{
    width: 100%;
    display: inline-block;
    text-align: center;
}
th, td{
    padding: 0px 38px 10px 20px;
    color: sandybrown;
    background-color: #3d3c3c;
    text-align: left;
}
tr.user :nth-child(2){
    text-align: left;
}
tr.user :nth-child(3){
    text-align: left;
}

/* Game interaction section */
main .interaction{
    width: 67%;
    display: block;
    align-content: center;
    text-align: center;
}
main .wordDisplay{
    height: 50%;
    display: block;
}
main .wordDisplay{
    height: 50%;
    display: block;
}
/* about us */
.column {
    display: inline-block;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
    margin-top: 100px;
    height: 80%;
}
.row {
    /* background-color: lightskyblue; */
    height: 800px;
}
/* .card{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */

.card img{
    width: 100%;
    height: 240px;
}
.container{
    /* padding:20px 16px; */
    background-color: white;
    height: 400px;
}
.container h2{
    font-size: 20px;
    padding-bottom: 5px;
}
.container p{
    font-size: 12px;
    padding-bottom: 2px;
    text-align: center;
}
.container :nth-child(3){
    padding-top: 6px;
}
.container :nth-child(4){
    padding-top: 22px;
}
.title{
    color: grey;
}
/*This is for the KeyBoard and Word Layout*/
#blank-words {
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#blank-words p {
  display: inline-block;
  font-size: 32px;
  padding-right: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}
#blank-words ul li {
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#keyboard {
  width: 686 px;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
#keyboard p {
  margin-bottom: 30px;
}
#keyboard ul li {
  display: inline-block;
  font-size: 25px;
  padding: 12px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
}
#keyboard ul li:hover {
  background-color: yellow;
}
#progressBar {
  margin-bottom: 50px;
}
/* List Element that contains the rules  */
nav ul li {
    color: sandybrown;
    cursor: pointer;
    font-size: 12px;
}


.list{
    color: black;
    margin: 10px;
}
#thing{
    font-size: 20px;
}

 #thing-text{
    position: absolute;
    left: 0;
    transition: opacity 1s;
    display: none;
    width: 50%;
    background-color: sandybrown;
    border-radius: 7px;
    padding: 20px 0;
    text-align: left;
    border-style: solid;
    border-color:white transparent transparent transparent;
    margin-left: -5px;
    border-width: 5px;
}
#thing:hover ~ #thing-text{
    display: block;
}

/*  black background/colums on the index page -zahra */

body.has-overlay::after {
    content: "";
    display: block;
    position: fixed;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:black;
}

#background{
    position: relative;
    z-index: 2;
    text-align: center;
}

#trying{
    position: relative;
    z-index: 2;
    text-align: center;
}

/*
THIS STYLING IS FOR THE WELCOME/TITLE PAGE-ZAHRA */

html{
    background-color: black;
 
}
   div h1 {
    line-height: .95;
    color: sandybrown;
    font-weight: 900;
    font-size: 150px;
    text-transform: uppercase;
    pointer-events: none;

  }

  .center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 20%;
    z-index: 2;
    text-align: center;
    background-color: gray;
  }

  .play {
    margin: 0 auto;
    margin-top: 10%;
    width: 170px;
    height: 60px;
    padding: 6px 0 0 3px;
    border: 2px solid sandybrown;
    border-radius: 2px;
    background: none;
    font-size: 16px;
    line-height: 54px;
    color: #fff;
    letter-spacing: .25em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }

  .play:hover {
    background: #66fcf1;
    color: #10151B;
  }

  .about {
    margin: 0 auto;
    margin-top: 5%;
    width: 170px;
    height: 60px;
    padding: 6px 0 0 3px;
    border: 2px solid sandybrown;
    border-radius: 2px;
    background: none;
    font-size: 16px;
    line-height: 54px;
    color: #fff;
    letter-spacing: .25em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }

  .about:hover {
    background: #66fcf1;
    color: #10151B;
  }
 

  
